<div class="modal" id="pick-role-modal" tabindex="-1" role="dialog" aria-labelledby="pick-role-modal-title" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pick-role-modal-title">I am a...</h5>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Professor</h3>
                        <p class="card-text">Enhance your teaching experience by gaining InSiight.</p>
                        <button class="call-to-action" value="professor">Sign in as a professor</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Student</h3>
                        <p class="card-text">Enhance your learning experience by providing feedback.</p>
                        <button class="call-to-action" value="student">Sign in as a student</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>