@import 'dashboard.scss';
@import 'netlify-identity.scss';
@import 'survey.scss';
@import 'results.scss';

html, body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
}

h1 {
    text-align: center;
}

.primary-color {
    color: white;
    background-color: #3ED2CC;
    border-color: #3ED2CC;

    &:hover {
        color: white;
        background-color: #83DFDB;
        border-color: #83DFDB;
    }
}

.navbar-nav {
    align-items: flex-end;

    @media (min-width: 1024px) {
        align-items: center;
    }

    .nav-item {
        margin-left: 25px;

        .btn {
            color: white;
            padding: 8px 15px;

            &:hover {
                color: white;
            }
        }
    }
}

.home-page {
    height: 100vh;

    header,
    .illustration {
        display: flex;
        align-items: center;
        height: 90vh;
    }

    header {
        h1 {
            text-align: left;
            font-size: 3rem;
        }
        
        p {
            max-width: 90%;
        }

        .info {
            display: block;
        }
    }

    .illustration {
        img {
            width: 100%;
        }
    }
}

#pick-role-modal {
    .modal-body {
        display: flex;
        justify-content: center;
        padding: 30px;

        .card {
            width: 40%;

            &:first-of-type {
                margin-right: 30px;
            }

            .card-title {
                margin-bottom: 2rem;
            }

            .card-text {
                margin-bottom: 1.5rem;
            }

            .card-body {
                button {
                    margin: 0 auto;
                }
            }
        }
    }
}