<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: 08_Journal_Newsletter (2017-01-23 19:21)</string>
	<string>M6.1.1-4338-1</string>
	<string>G-r13-2C85</string>
</array>
</plist>
